@import "tailwindcss";

@theme {
  --animate-scan-laser: scan-laser 2s infinite ease-in-out;

  @keyframes scan-laser {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(176px);
    }
  }
}

